# Объектные файлы
*.o

# Исполняемые файлы
mask_editor
*.exe
*.out

# Временные файлы Vim
*.swp
*.swo
*~

# Папки сборки (когда появятся)
build/
bin/

# Папка с масками (сохраняем сами маски, но не временные файлы)
data/masks/*.tmp

#файл с токеном
token_GIT.txt
